
 /* Media Query for Mobile Devices */
 @media (max-width: 480px) {
    body {
        display: block;
    }
    .header-section{
        width: 100%;
        text-align: center;
    }
     #subtitle {
        flex-direction: column;
    }
    /* .design-heading{
        border-bottom: 15px;
    } */
}
  
/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {
    body {
        display: block;
    }
  
/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px){
    body {
        display: block;
    }
}
  
