
 /* Media Query for Mobile Devices */
 @media (max-width: 480px) {
    body {
        display: block;
        background-color: aquamarine;
    }
    .header-section{
        width: 100%;
        text-align: center;
    }
     #subtitle {
        flex-direction: column;
    }
    .Horizontal-line > h4{
        font-size: 13px;
    }
}

  
/* Media Query for low resolution  Tablets, Ipads */
@media (max-width: 992px) {
    body {
        display: block;
    }}
