
 /* Media Query for Mobile Devices */
 @media (max-width: 480px) {
    body {
        display: block;
    }
    .header-section{
        width: 100%;
        text-align: center;
    }
     #subtitle {
        flex-direction: column;
    }}

  
/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {
    body {
        display: block;
    }}
