/* applies to all  */
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
/* hovers */
.background:hover #subtitle{
    background-color: coral;
}

.header-section:hover #desing-heading{
    background-color: rgb(247, 176, 187);
}   
a:hover {
    background-color: rgb(235, 161, 216);
  }

 /* applies to all header */
.header-section{
 background-color:#13293d;  
height:70px;
}

/* for only h1 */
#desing-heading{
    background-color:#6babeb;
    position: relative;
    top: 15px;
    width: 300px;
    height: 47px;
    text-align:center;
    font-weight: bolder;
    line-height: 150%;  
    size: 20px;   
}
 /* link tags */
.navigation {
 display: flex;
  list-style: none;
  background-color: #13293d;
  justify-content:right;
  padding-inline-end: 4%;
  flex-wrap: wrap;
  justify-content:end;
    gap: 10px;  
}
.nav-link{
 color:blanchedalmond;
 display: flex;
 font-size: larger;
}
/* title of the page*/ 
.background{
width: 100%;
height: 100vh;
background-image: url(../pictures/dark-grey-terrazzo.png);
width: 100%;
height: 150px;
background-color: black;

}
#subtitle{
display: flex;
justify-content: center;
background-color: aqua;
width: 320px;
height: 66px;
}
/* middle section */
.about-me{
    display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   align-items: stretch;
   justify-content: space-between;
}
/* horizontal line */
.about-me > h3 {
    flex: 0 0 20%;
    text-align: right;
    font-size: smaller;
    border-right: 4px solid rgb(5, 3, 126); 
    font-size: 2.5vw;
    font-weight: bold;
    line-height: 1.1;
    padding-right: 15px;  
}
.about-me > div {
    flex: 0 0 77%;
}
.about-me  p {
    margin-bottom: 20px;
}

/* work section part one
*/
.work-section{
    display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   align-items: stretch;
   justify-content: space-between;

}
.work-section > h4 {
    flex: 0 0 20%;
    text-align: right;
    border-right: 4px solid rgb(5, 3, 126); 
    font-size: 2.5vw;
    font-weight: bold;
    line-height: 1.1;
    padding-right: 15px;
}
.work-section > div {
    flex: 0 0 77%;
}

.work-section > section{
    flex: 0 0 77%;
    margin-bottom: 20px;
}
/* grid boxes second section parent*/
.container{
    display: grid;
    grid-auto-rows: 250px 100px 100px 100px 100px;
    grid-template-areas: 
    "header header ";
    gap: 15px;
    margin-right: 20px;
}
 /* container applied to all */
.container > *{
    display: grid;
font-weight: bold;
color: rgb(235, 171, 219);
border: 4px solid black;
flex-shrink: initial;
}
/* boxes second section child*/
.grid-item-1{
background-image: url(../pictures/background1.jpg);
background-size: 100% 100%;
background-repeat:none;
grid-area: header;
color: rgb(150, 34, 140);
}

.ONE {
    display: flex;
    width: 200px;
    height: 100px;
    border: 5px solid rgb(220, 231, 200);  
    align-self: flex-end;
}

.grid-item-2{
    background-image: url(../pictures/4.jpg);
}
.TWO {
    display: flex;
    width: 200px;
    height: 80px;
    border: 5px solid beige;
    align-self: flex-end;  
}
.grid-item-3{
    display: grid;
    background-image: url(../pictures/2.jpeg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.THREE {
    display: flex;
    width: 200px;
    height: 80px;
    border: 5px solid beige; 
    align-self: flex-end; 
}

.grid-item-4{
    display: grid;
    background-image: url(../pictures/cloudy.jpeg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.FOUR {
    display: flex;
    width: 200px;
    height: 80px;
    border: 5px solid beige;
    align-self: flex-end;  
}
.grid-item-5{
    display: grid;
    background-image: url(../pictures/cloud.jpeg);
    background-repeat: no-repeat;
    background-size: 100% 100%;

}
.FIVE {
    display: flex;
    width: 200px;
    height: 80px;
    border: 5px solid beige; 
    align-self: flex-end; 
}
/* contact me  Last section */
.contact-me{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
    list-style-type:square;
}
.contact-me > h5 {
    flex: 0 0 20%;
    text-align: right;
    border-right: 4px solid rgb(5, 3, 126); 
    font-size: 2.5vw;
    font-weight: bold;
    line-height: 1.1;
    padding-right: 15px;   
}

.contact-me > ul {
    flex: 0 0 77%;
}

@media all and (max-width: 480px) {
    .header-section{
        background-color: #6babeb;
    }

    {

    }
}